.category-products{
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;    
}

.category-search{
    width: 90%;
    margin: 0 auto;

    border-radius: 5px;
    border: 1px solid rgb(255, 0, 0);
    padding: 5px;
}

.product-card-search{
    margin-left: 0;
}

.product-sort{
    width: 30%;
    margin-left: auto
}
